.yy-clear{clear: both;}

.yy-m-search {float:right;height:42px;font-size:12px;line-height:42px;*line-height:42px; _line-height:42px;}
.yy-m-search .yy-m-search-item{margin-right:8px;}
.yy-m-search div{display:inline-block;height:43px;line-height:42px;*line-height:42px; _line-height:42px;}
.yy-m-search a{margin:6px 0;}
.yy-m-search input{display:inline-block;height:30px;width:100px;}
.yy-m-search b{font-weight: normal;}