.ycya-content{
    padding:20px 0 10px 20px;
}
.ycya-content table a{
    color: #01AAED;
}
.site-dir{
    padding: 10px;
    background: #ffff;
}
.site-dir li {
    line-height: 26px;
    margin-left: 16px;
    overflow: visible;
    list-style-type: disc;
    cursor: pointer;
}
.underline-code{
    padding: 0.2em 0.4em;
    font-size: 85%;
    background-color: rgba(27,31,35,0.08);
    border-radius: 3px;
}