/* 此文件--用于高级查询组件和自动生成弹窗组件 */
.layui-layer-title {
  background-color: #fff !important;
}
.layui-layer-btn .layui-layer-btn0 {
  background-color: #0085FF !important;
}
.layui-layer-content .layui-form-item {
  margin-bottom: 0;
}
.layui-table thead tr {
  background-color: #fff;
}
.relative {
  position: relative;
}
.m-none {
  display: none;
}
.m-block {
  display: block;
}
.w-all {
  width: 100%;
}
.w-half {
  width: 49% !important;
}
.m-lf {
  float: left;
}
.m-inline-block {
  display: inline-block;
}
.m-inline-block .layui-select-title input {
  height: 26px;
}
.m-inline-block .layui-form-select dl {
  top: 27px;
  max-height: 130px;
}
.m-inline-block .layui-form-select dd {
  line-height: 26px;
}
.m-rt {
  float: right;
}
.max-height {
  max-height: 500px;
}
.yy-m-aq-require-option {
  color: #f00;
  margin-right: 5px;
}
.yy-m-aq-block-item-class {
  width: 100%;
  padding-right: 20px;
}
.yy-m-aq-two-item > li {
  width: 50%;
}
.yy-m-aq-two-item > li.block-item {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-right: 20px;
}
.yy-m-aq-one-item > li {
  width: 100%;
}
.yy-m-aq-one-item > li.block-item {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-right: 20px;
}
.yy-m-aq-three-item > li {
  width: 33.3%;
}
.yy-m-aq-three-item > li.block-item {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-right: 20px;
}
.yy-m-aq-advanced-popup label,
.yy-m-aq-popup label,
.yy-m-aq-btns label {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 90px;
  margin-left: -90px;
  padding-right: 6px;
  text-align: right;
  line-height: 30px;
}
.yy-m-aq-advanced-popup input,
.yy-m-aq-popup input,
.yy-m-aq-btns input,
.yy-m-aq-advanced-popup textarea,
.yy-m-aq-popup textarea,
.yy-m-aq-btns textarea,
.yy-m-aq-advanced-popup select,
.yy-m-aq-popup select,
.yy-m-aq-btns select {
  width: 100%;
  border: 1px solid #eee;
}
.yy-m-aq-advanced-popup textarea,
.yy-m-aq-popup textarea,
.yy-m-aq-btns textarea {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  text-indent: 5px;
  vertical-align: middle;
  min-height: 40px;
}
.yy-m-aq-advanced-popup input,
.yy-m-aq-popup input,
.yy-m-aq-btns input {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 0;
  text-indent: 5px;
}
.yy-m-aq-advanced-popup select,
.yy-m-aq-popup select,
.yy-m-aq-btns select {
  padding: 7px 0;
}
.yy-m-aq-advanced-popup > li,
.yy-m-aq-popup > li,
.yy-m-aq-btns > li {
  position: relative;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  line-height: 22px;
  list-style: none;
  padding-left: 90px;
  padding-right: 20px;
}
.yy-m-aq-advanced-popup > li:not(:first-child),
.yy-m-aq-popup > li:not(:first-child),
.yy-m-aq-btns > li:not(:first-child) {
  margin-top: 5px;
}
.yy-m-aq-advanced-popup .input-btw,
.yy-m-aq-popup .input-btw,
.yy-m-aq-btns .input-btw {
  width: 48%;
}
.yy-m-aq-advanced-popup .line,
.yy-m-aq-popup .line,
.yy-m-aq-btns .line {
  width: 0;
  height: 0;
  position: absolute;
  top: 18px;
  right: 12px;
}
.yy-m-aq-advanced-popup .btn-group,
.yy-m-aq-popup .btn-group,
.yy-m-aq-btns .btn-group {
  width: 100%;
}
.yy-m-aq-advanced-popup .btn-group a,
.yy-m-aq-popup .btn-group a,
.yy-m-aq-btns .btn-group a {
  float: right;
  width: 60px;
  height: 30px;
  margin-left: 10px;
  line-height: 30px;
  text-align: center;
  background-color: #1E9FFF;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: all 1s;
}
.yy-m-aq-advanced-popup .btn-group a:hover,
.yy-m-aq-popup .btn-group a:hover,
.yy-m-aq-btns .btn-group a:hover {
  opacity: .8;
}
.yy-m-aq-advanced-popup .btn-group a.white,
.yy-m-aq-popup .btn-group a.white,
.yy-m-aq-btns .btn-group a.white {
  background-color: #fff;
  height: 28px;
  line-height: 28px;
  border: 1px solid #dedede;
  color: #000;
}
.yy-m-aq-btns {
  display: none;
}
.yy-m-aq-popup {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 28px 8px 0px;
  background-color: #fff;
  color: #696969;
  font-size: 12px;
  max-height: 450px;
  overflow-y: auto;
}
.yy-m-aq-advanced-popup {
  position: absolute;
  width: 500px;
  right: 28px;
  top: 42px;
  line-height: 38px;
  padding-top: 16px;
  border: 1px solid #e2e2e2;
  box-shadow: 5px 6px 5px #d2d2d2;
}
.yy-m-aq-advanced-popup .layui-form-item {
  margin-bottom: 0;
}
.yy-m-aq-advanced-popup .btn-group {
  margin-top: 10px;
  text-align: right;
  padding-right: 18px;
}
.yy-m-aq-btns {
  background-color: #fff;
  font-size: 12px;
}
.btn-li a {
  display: inline-block;
  vertical-align: top;
  height: 28px;
  line-height: 28px;
  padding: 0 15px;
  border: 1px solid #dedede;
  background-color: #fff;
  color: #fff;
  border-radius: 2px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  border-color: #1E9FFF;
  background-color: #1E9FFF;
}
.btn-li a:hover {
  opacity: .9;
  text-decoration: none;
}
.margin0 {
  margin: 0 !important;
}
.table-wrap {
  width: calc(100% - 62px) !important;
  margin: 0 auto;
}
.table-wrap th {
  border-bottom: 0 !important;
}
.table-wrap input,
.table-wrap select {
  width: 90%;
  border: 0;
  background-color: transparent;
}
.table-title {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 9px 15px;
  min-height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #f2f2f2;
}
/* .table-body{
    max-height: 200px;
    overflow: auto;
} */
.table-add,
.table-del {
  cursor: pointer;
}
.table-add {
  color: #01AAED;
}
.table-del {
  color: #FF5722;
}
